Source: telepathy-eri
Section: unknown
Maintainer: Aleksandr Stepanov <i@eerie.su>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/alex-eri/telepathy-eri/wiki

Package: telepathy-eri
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-lxml, python-mechanize
Provides: telepathy-connection-manager
Description: A VK connection manager for Telepathy
 Chat for vk.com
